<div class="col-md-12 col-sm-12" >
    <div class="col-md-10 col-sm-11">
    <form name="f1" onsubmit="return g(this)" target="_blank">
            <table bgcolor="#FFFFFF" style="font-size:9pt;">
                <tr height="60">
                    <td valign="top" width="8%">
                <a href="https://www.baidu.com/"  target="_blank">
                    <img src="https://www.baidu.com/img/baidu_jgylogo3.gif" border="0" alt="baidu">
                </a>
            </td>
                    <td>
                        <input type="text" name="word" onfocus="checkHttps" size="30" maxlength="100">
                        <input type="submit" value="百度搜索"><br>
                        <input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
                        <input name="cl" type="hidden" value="3">
                        <input name="ct" type="hidden">
                        <input name="si" type="hidden" value="www.huangdaxing.top">
                        <div class="mt10">
                            <input name="s" type="radio"> 互联网<input name="s" type="radio" checked> 站内搜索
                        </div>
                    </td>
                </tr>
            </table>
    </form>
<script src="http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
<script>
    function checkHttps () {
        BaiduHttps.useHttps();
    };
    function g(formname) {
        var data = BaiduHttps.useHttps();
        var url = '';
        url = data.s == 0 ? "http://www.baidu.com/baidu" : 'https://www.baidu.com/baidu' + '?ssl_s=1&ssl_c' + data.ssl_code;
        if (formname.s[1].checked) {
            formname.ct.value = "2097152";
        }
        else {
            formname.ct.value = "0";
        }
        formname.action = url;
        return true;
    };
</script>
</div>
</div>
<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>博文</h1>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
               您好，欢迎来到我的Blog，网站刚建立不久很多功能和界面都没有完善，本站将来主要用于前端技术学习交流，当然后面还会交流一些PS技术。
            </p>
            <span class="post-meta-item-text"><a href="2016/11/20/" itemprop="url"><h3>我的第一篇博文</h3></a></span>
        </div>
    </div>
</section>
