<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>联系方式</h2>
                <ul  class="col-md-12 col-sm-6 container-contacts-email">
                 <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>友情链接</h2>
                <ul  class="col-md-12 col-sm-6 container-contacts-link">
                   <i class="fa fa-link" aria-hidden="true"></i>
                <a href="http://www.bootcss.com" target="_blank">
                    bootstrap中文网
                </a>
                </ul>
                <ul  class="col-md-12 col-sm-6 container-contacts-link">
                 <i class="fa fa-link" aria-hidden="true"></i>
                <a href="https://github.com" target="_blank">
                    GitHub
                </a>
                </ul>
            </div>
        </div>
    </div>
</footer>
