<footer class="container-fluid container-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
	<div class="ds-thread" data-thread-key="page1" data-title="index" data-url="http://huangdaxing.top/"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"austincq"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
            </div>
            <div class="col-md-12">
                {{ site.copyright }}
            </div>
        </div>
    </div>
</footer>
